.form-container{
    position: absolute;
    top: 20vh;
    background: #fff;
    padding : 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #000;
}

body{
    background: #FF8C00;
}
h2{
    margin-left: 30%;
}

